@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
@import "./reset";
@import "./vars";

body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

@import "./card";
